# Quick script to populate 'data/provinces.json'.

In [12]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("../data/processed_data.csv")
df.head()

,Unnamed: 0,unnamed:_0,title,variant,year,price,mileage,status,transmission,rating,...,power_steering,stability_control,traction_control,air_conditioning,electric_windows,num_seats,heated_seats_front,no_of_doors,make,model
0,0,0,kia seltos,1.4T-GDI GT Line,2023,339500.0,73700.0,Used,Automatic,NaN,...,Standard,Standard,NaN,Standard,Standard,5.0,NaN,5.0,kia,seltos
1,2,2,bmw m6,Coupe,2016,599900.0,104000.0,Used,Automatic,NaN,...,Standard,Standard,Standard,Standard,Standard,4.0,Standard,2.0,bmw,m6
2,3,3,toyota starlet,1.5 XS Auto,2024,248800.0,16312.0,Used,Automatic,4.6,...,Standard,Standard,NaN,Standard,Standard,5.0,NaN,5.0,toyota,starlet
3,4,4,toyota starlet cross,1.5 XS Manual,2024,278800.0,20282.0,Used,Manual,4.6,...,Standard,Standard,NaN,Standard,Standard,5.0,NaN,5.0,toyota,starlet cross
4,5,5,toyota land cruiser prado,3.0DT VX,2013,495000.0,146200.0,Used,Automatic,4.5,...,Standard,Standard,Standard,Standard,Standard,7.0,Standard,5.0,toyota,land cruiser prado

In [9]:
# We have 986 unique locations
len(df["location"].str.lower().unique())

986

In [23]:
locations = list(df["location"].str.lower().unique())[1:]

provinces = [    
      "eastern cape"
    , "free state"
    , "gauteng"
    , "kwazulu-natal"
    , "western cape"
    , "mpumalanga"    
    , "north west"
    , "northern cape"
    , "limpopo"
]

locations_with_province = []

cities = set()

for l in locations:
    city = l.split(",")[1]
    cities.add(city)

cities

{' akasia',
 ' alberton',
 ' aliwal north',
 ' amanzimtoti',
 ' balfour',
 ' ballito',
 ' barberton',
 ' barkly east',
 ' bedfordview',
 ' bela bela',
 ' bellville',
 ' benoni',
 ' bergville',
 ' bethal',
 ' bethlehem',
 ' bloemfontein',
 ' blouberg',
 ' blue downs',
 ' boksburg',
 ' bothaville',
 ' brackenfell',
 ' brakpan',
 ' bredasdorp',
 ' brits',
 ' bronkhorstspruit',
 ' bultfontein',
 ' burgersfort',
 ' butterworth',
 ' caledon',
 ' cape town',
 ' carletonville',
 ' carolina',
 ' centurion',
 ' ceres',
 ' chatsworth',
 ' christiana',
 ' citrusdal',
 ' clanwilliam',
 ' cradock',
 ' de aar',
 ' de doorns',
 ' delareyville',
 ' delmas',
 ' dundee',
 ' durban',
 ' durban north',
 ' durbanville',
 ' east london',
 ' edenvale',
 ' eersterivier',
 ' elsies river',
 ' empangeni',
 ' ermelo',
 ' eshowe',
 ' estcourt',
 ' ficksburg',
 ' fish hoek',
 ' fochville',
 ' george',
 ' germiston',
 ' goodwood',
 ' gordons bay',
 ' graaff-reinet',
 ' grahamstown',
 ' greytown',
 ' groblersdal',
 ' groot brakrivier',
 ' harrismith',
 ' hartbeespoort',
 ' hartenbos',
 ' hartswater',
 ' heidelberg',
 ' hermanus',
 ' hillcrest',
 ' hilton',
 ' hoedspruit',
 ' hout bay',
 ' howick',
 ' humansdorp',
 ' jeffreys bay',
 ' johannesburg',
 ' kempton park',
 ' kimberley',
 ' king williams town',
 ' kleinmond',
 ' klerksdorp',
 ' kloof',
 ' knysna',
 ' kokstad',
 ' kommetjie',
 ' kraaifontein',
 ' kroonstad',
 ' krugersdorp',
 ' kuils river',
 ' kuruman',
 ' ladybrand',
 ' ladysmith',
 ' langebaan',
 ' lephalale',
 ' lichtenburg',
 ' louis trichardt',
 ' lydenburg',
 ' mafikeng',
 ' malelane',
 ' malmesbury',
 ' maluti',
 ' margate',
 ' melkbosstrand',
 ' meyerton',
 ' middelburg',
 ' midrand',
 ' milnerton',
 ' modimolle',
 ' mokopane',
 ' montagu',
 ' mookgopong',
 ' mossel bay',
 ' mount edgecombe',
 ' mthatha',
 ' musina',
 ' nelspruit',
 ' newcastle',
 ' nigel',
 ' noordhoek',
 ' oudtshoorn',
 ' paarl',
 ' parow',
 ' paulpietersburg',
 ' phalaborwa',
 ' phoenix',
 ' piet retief',
 ' pietermaritzburg',
 ' piketberg',
 ' pinetown',
 ' plettenberg bay',
 ' polokwane',
 ' pongola',
 ' port elizabeth',
 ' port shepstone',
 ' potchefstroom',
 ' pretoria',
 ' queensburgh',
 ' queenstown',
 ' randburg',
 ' randfontein',
 ' richards bay',
 ' riversdale',
 ' robertson',
 ' roodepoort',
 ' rustenburg',
 ' sandton',
 ' sasolburg',
 ' schweizer reneke',
 ' scottburgh',
 ' secunda',
 ' sedgefield',
 ' somerset west',
 ' soweto',
 ' springbok',
 ' springs',
 ' st helena bay',
 ' standerton',
 ' stanger',
 ' stellenbosch',
 ' stilbaai',
 ' stilfontein',
 ' strand',
 ' swellendam',
 ' tembisa',
 ' tzaneen',
 ' uitenhage',
 ' umdloti',
 ' umhlanga',
 ' umkomaas',
 ' umlazi',
 ' upington',
 ' vanderbijlpark',
 ' vanrhynsdorp',
 ' ventersdorp',
 ' vereeniging',
 ' viljoenskroon',
 ' villiersdorp',
 ' vosloorus',
 ' vredenburg',
 ' vredendal',
 ' vryburg',
 ' vryheid',
 ' welkom',
 ' wellington',
 ' westonaria',
 ' westville',
 ' white river',
 ' wilderness',
 ' witbank',
 ' worcester'}